.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.game {
  padding: 10px;
  background-color: #f3f3f3;
  margin: auto;
  width: 400px;
}

.tile {
  background-color: #fafafa;
}

.tile-b {
  background-color: #1b1b1b;
}

.tile-border {
  background-color:#f3f3f3;
}


.tile-border-b {
  background-color: #141414;
}

table {
  border: 0px;
  border-collapse: collapse;
  padding: 0px;
  border-spacing: 0px;
}

td {
  border: none;
  padding: 0px;
}

tr {
  border: none;
  padding: 0px;
}